<dl class="wp-caption alignnone" style="width: 672px; text-align:center">
	<dt class="wp-caption-dt"><img class="alignnone size-full" src="https://images-na.ssl-images-amazon.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SY1000_CR0,0,672,1000_AL_.jpg"
			alt="mv5bodu4mju4njiwnl5bml5banbnxkftztgwmdu2mjeymde-_v1_sy1000_cr006721000_al_" width="672" height="1000" /></dt>
	<dd class="wp-caption-dd" style="font-size: 32px;"><b>Inception (2010)<br>Full Movie</b></dd>
</dl>
<div style="text-align: center; margin: 50px;"><a style="font-size: 10vw; padding: 15px; background-color: #6d6d6d; color: white; border-radius: 10px; border-color: #0000FF;"
		href="http://www.vidsourceapi.com/WebService.asmx/GetStreamEmbedUrlByIMDBID?apikey=yQEiCTH84dOJNFQ7&imdbid=0816692&redirecton=true">Watch Now</a></div>

<table style="border: 1px solid #CCC;">
	<tbody>
		<tr>
			<td style="padding-left: 5px; border: 1px solid #CCC; width: 60%;" valign="top"><b>Release</b>: 1998-07-24</td>
			<td style="padding-left: 5px; border: 1px solid #CCC; width: 40%;" valign="top"><b>IMDB score</b>: 8.8</td>
		</tr>
		<tr>
			<td style="padding-left: 5px; border: 1px solid #CCC; width: 60%;" valign="top"><b>Genre</b>: Action, Adventure, Sci-fi</td>
			<td style="padding-left: 5px; border: 1px solid #CCC; width: 40%;" valign="top"><b>Duration</b>: 148 mins</td>
		</tr>
		<tr>
			<td style="padding-left: 5px; border: 1px solid #CCC; width: 60%;" valign="top"><b>Writer</b>:
				<ul>
					<li>Christopher Nolan</li>
				</ul>
			</td>
			<td style="padding-left: 5px; border: 1px solid #CCC; width: 40%;" valign="top"><b>Stars</b>:
				<ul>
					<li>Leonardo DiCaprio</li>
					<li>Josheph Gordon-Levitt</li>
					<li>Ellen Pages</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>