[caption id="" align="aligncenter" width="630"]<img class="alignnone size-full wp-image-12031734" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMzBjY2ZhOTktZTM2Mi00NTBiLTg0NGYtZjkyYTE3ZGJlMjQ0XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UY1200_CR127,0,630,1200_AL_.jpg"
	alt="Three Colors: Blue (1993)" width="630" height="1200" />
<h1 style="font-size: 20px;">Three Colors: Blue (1993) - Free Movie</h1>
[/caption]

<div style="text-align:center; margin: 50px;"><a style="font-size:30px; padding:15px; text-decorator: none; background-color:#6d6d6d; color:white; border-radius:10px; border-color:#0000FF; ">Coming Soon</a></div>
<blockquote>
	<p style="margin: 50px; text-align: left;"><strong style="font-size: 18px;">Description</strong> : Coming Soon . . .</p>
</blockquote>
<table style="border: 1px solid #CCC; ">
	<tbody>
		<tr>
			<td valign="top" style="padding-left: 5px; border: 1px solid #CCC; width: 60%;"><b>Release</b>: 1993-09-08</td>
			<td valign="top" style="padding-left: 5px; border: 1px solid #CCC; width: 40%;"><b>IMDB score</b>: 8.0</td>
		</tr>
		<tr>
			<td valign="top" style="padding-left: 5px; border: 1px solid #CCC; width: 60%;"><b>Genre</b>: <a href="https://alexfreemovie.wordpress.com/tag/Drama/">Drama</a>, <a href="https://alexfreemovie.wordpress.com/tag/Music/">Music</a>,
				<a href="https://alexfreemovie.wordpress.com/tag/Mystery/">Mystery</a></td>
			<td valign="top" style="padding-left: 5px; border: 1px solid #CCC; width: 40%;"><b>Duration</b>: 98 mins</td>
		</tr>
		<tr>
			<td valign="top" style="padding-left: 5px; border: 1px solid #CCC; width: 60%;"><b>Writer</b>: Krzysztof Kieslowski<br>Krzysztof Piesiewicz
			</td>
			<td valign="top" style="padding-left: 5px; border: 1px solid #CCC; width: 40%;"><b>Stars</b>:
				<a href="https://alexfreemovie.wordpress.com/tag/Juliette-Binoche/">Juliette Binoche</a><br><a href="https://alexfreemovie.wordpress.com/tag/Zbigniew-Zamachowski/">Zbigniew Zamachowski</a><br>
				<a
					href="https://alexfreemovie.wordpress.com/tag/Julie-Delpy/">Julie Delpy</a>
			</td>
		</tr>
	</tbody>
</table>